Repository pranayshah007/harness-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: pranay.shah@harness.io, jyoti.raval@harness.io, @harness/build-engineering, ankit.singhal@harness.io, mallavarapu.reetika@harness.io, manish.manchanda@harness.io, jimit.gandhi@harness.io, ashish.sanodia@harness.io, meenakshi.raikwar@harness.io, hitesh.aringa@harness.io, nikunj.badjatya@harness.io, shubhanshu.verma@harness.io, trunapushpa.surkar@harness.io, anmol.maheshwari@harness.io, abhinav.singh3@harness.io, sahildeep.singh@harness.io, abhijeet.sharma@harness.io, deepak.puthraya@harness.io, yogesh.chauhan@harness.io, tathagat.chaurasiya@harness.io, mohit.garg@harness.io, adithya.viswanathan@harness.io, archit.singla@harness.io, utkarsh.choubey@harness.io, sridhar.balijepalli@harness.io, sahil.hindwani@harness.io, @harness/del-team, prashant.sharma@harness.io, prashant.pal@harness.io, praveen.sugavanam@harness.io, abhijith.pradeep@harness.io, deepak.chhikara@harness.io, sanyasi.naidu@harness.io, ankit.tiwari@harness.io, harsh.jain@harness.io, shubham.agrawal@harness.io, hemanth.mantri@harness.io, tianyi.li@harness.io, raghav.gupta@harness.io, @harness/sto, gaurav.nanda@harness.io, abhinav.mittal@harness.io, rajendra.baviskar@harness.io, vinicius.calasans@harness.io, varsha.lalwani@harness.io, dhruv@harness.io, ansuman.satapathy@harness.io, sandeep.kumar@harness.io, shubhendu.patidar@harness.io, naveen.shukla@harness.io, brett@harness.io, arvind.choudhary@harness.io, pragyesh.mishra@harness.io, anil.chowdhury@harness.io, lucas.sales@harness.io, nishant.saini@harness.io, piyush.patel@harness.io, shashank.singh@harness.io, sandeepa.kv@harness.io, vikyath.harekal@harness.io, sathish.soundarapandian@harness.io, mankrit.singh@harness.io, deepak.bolangady@harness.io, jonathan.charette@harness.io, arya.haldar@harness.io, sai.teja@harness.io, kapil.garg@harness.io

.github/CODEOWNERS:

.gitleaksignore pranay.shah@harness.io jyoti.raval@harness.io
DockerFile* @harness/build-engineering
.bazel* @harness/build-engineering
bazel* @harness/build-engineering
project/bazelproject-config @harness/build-engineering
/access-control/ ankit.singhal@harness.io mallavarapu.reetika@harness.io manish.manchanda@harness.io jimit.gandhi@harness.io ashish.sanodia@harness.io meenakshi.raikwar@harness.io
/batch-processing/ hitesh.aringa@harness.io nikunj.badjatya@harness.io shubhanshu.verma@harness.io trunapushpa.surkar@harness.io anmol.maheshwari@harness.io abhinav.singh3@harness.io sahildeep.singh@harness.io abhijeet.sharma@harness.io
/clients/access-control/ ankit.singhal@harness.io mallavarapu.reetika@harness.io manish.manchanda@harness.io jimit.gandhi@harness.io ashish.sanodia@harness.io meenakshi.raikwar@harness.io
/platform-service/modules/resource-group-service/ ankit.singhal@harness.io jimit.gandhi@harness.io mallavarapu.reetika@harness.io manish.manchanda@harness.io ashish.sanodia@harness.io meenakshi.raikwar@harness.io
/clients/resource-group/ ankit.singhal@harness.io jimit.gandhi@harness.io mallavarapu.reetika@harness.io manish.manchanda@harness.io ashish.sanodia@harness.io meenakshi.raikwar@harness.io
WORKSPACE pranay.shah@harness.io jyoti.raval@harness.io
# CDNG
/125-cd-nextgen/src/test/resources/recaster/alias/alias.txt deepak.puthraya@harness.io yogesh.chauhan@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/creator/CDNGPlanCreatorProvider.java yogesh.chauhan@harness.io deepak.puthraya@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/creator/ yogesh.chauhan@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/service/  tathagat.chaurasiya@harness.io yogesh.chauhan@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/infra/ tathagat.chaurasiya@harness.io  yogesh.chauhan@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/artifact/steps/ tathagat.chaurasiya@harness.io yogesh.chauhan@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/manifest/steps/ tathagat.chaurasiya@harness.io  yogesh.chauhan@harness.io
/125-cd-nextgen/src/main/java/io/harness/cdng/configfile/steps/ tathagat.chaurasiya@harness.io yogesh.chauhan@harness.io
/127-cd-nextgen-entities/src/main/java/io/harness/ng/core tathagat.chaurasiya@harness.io yogesh.chauhan@harness.io
/136-git-sync-manager/src/main/ mohit.garg@harness.io adithya.viswanathan@harness.io archit.singla@harness.io

/template-service utkarsh.choubey@harness.io yogesh.chauhan@harness.io sridhar.balijepalli@harness.io archit.singla@harness.io sahil.hindwani@harness.io

/420-delegate-agent/ @harness/del-team
/420-delegate-service/ @harness/del-team
/pipeline-service/service/src/main/java/io/harness/pms/plan/creation/PipelineServiceInternalInfoProvider.java prashant.sharma@harness.io archit.singla@harness.io prashant.pal@harness.io
/320-ci-execution/src/main/java/io/harness/ci/plan/creator/CIPipelineServiceInfoProvider.java prashant.sharma@harness.io sahil.hindwani@harness.io prashant.pal@harness.io
/300-cv-nextgen/src/main/java* praveen.sugavanam@harness.io abhijith.pradeep@harness.io deepak.chhikara@harness.io
/pipeline-service/service/src/main/java/**/*Resource*.java archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io ankit.tiwari@harness.io mohit.garg@harness.io
/332-ci-manager/ harsh.jain@harness.io shubham.agrawal@harness.io hemanth.mantri@harness.io tianyi.li@harness.io raghav.gupta@harness.io

/pipeline-service/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io ankit.tiwari@harness.io mohit.garg@harness.io prashant.pal@harness.io
/dockerization/pipeline-service/ prashant.sharma@harness.io archit.singla@harness.io sanyasi.naidu@harness.io

/315-sto-manager/ @harness/sto
/323-sto-utilities/ @harness/sto
/325-sto-beans/ @harness/sto
/320-ci-execution/src/**/Security*.java @harness/sto
/320-ci-execution/src/**/STO*.java @harness/sto
/332-ci-manager/service/src/**/Security*.java @harness/sto

### All BUILD.bazel files 260-delegate depends on - to avoid the introduction of new, unnecessary dependencies increasing the delegate JAR size.
/260-delegate/BUILD.bazel @harness/del-team
/910-delegate-service-driver/ @harness/del-team
/910-delegate-task-grpc-service/ @harness/del-team
/920-delegate-agent-beans/BUILD.bazel @harness/del-team
/920-delegate-service-beans/BUILD.bazel @harness/del-team
/930-delegate-tasks/BUILD.bazel @harness/del-team
/932-connector-task/BUILD.bazel @harness/del-team
/940-secret-manager-client/BUILD.bazel @harness/del-team
/948-cv-nextgen-beans/BUILD.bazel @harness/del-team
/950-delegate-tasks-beans/BUILD.bazel @harness/del-team
/952-scm-java-client/BUILD.bazel @harness/del-team
/953-events-api/BUILD.bazel @harness/del-team
/954-connector-beans/BUILD.bazel @harness/del-team
/955-alert-beans/BUILD.bazel @harness/del-team
/955-cg-yaml/BUILD.bazel @harness/del-team
/955-delegate-beans/BUILD.bazel @harness/del-team
/957-cg-beans/BUILD.bazel @harness/del-team
/959-common-entities/BUILD.bazel @harness/del-team
/959-file-service-commons/BUILD.bazel @harness/del-team
/959-psql-database-models/BUILD.bazel @harness/del-team
/960-api-services/BUILD.bazel @harness/del-team gaurav.nanda@harness.io
/960-expression-service/BUILD.bazel @harness/del-team
/960-ng-core-beans/BUILD.bazel @harness/del-team
/960-ng-license-beans/BUILD.bazel @harness/del-team
/960-persistence/BUILD.bazel @harness/del-team
/970-api-services-beans/BUILD.bazel @harness/del-team gaurav.nanda@harness.io
/970-grpc/BUILD.bazel @harness/del-team
/970-ng-commons/BUILD.bazel @harness/del-team gaurav.nanda@harness.io
/970-rbac-core/BUILD.bazel @harness/del-team
/970-watcher-beans/BUILD.bazel @harness/del-team
/979-recaster/BUILD.bazel @harness/del-team
/980-commons/BUILD.bazel @harness/del-team gaurav.nanda@harness.io
/999-annotations/BUILD.bazel @harness/del-team gaurav.nanda@harness.io
/clients/notification/BUILD.bazel @harness/del-team
/platform-service/modules/notification-service/contracts/BUILD.bazel @harness/del-team
/platform-service/modules/notification-service/delegate-tasks/BUILD.bazel @harness/del-team
/pipeline-service/modules/orchestration-steps/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io deepak.puthraya@harness.io abhinav.mittal@harness.io sridhar.balijepalli@harness.io rajendra.baviskar@harness.io vinicius.calasans@harness.io ankit.tiwari@harness.io
/pipeline-service/modules/ng-triggers/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io deepak.puthraya@harness.io abhinav.mittal@harness.io sridhar.balijepalli@harness.io rajendra.baviskar@harness.io vinicius.calasans@harness.io ankit.tiwari@harness.io
/pipeline-service/service/src/main/java/io/harness/pms/jira/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io deepak.puthraya@harness.io abhinav.mittal@harness.io sridhar.balijepalli@harness.io rajendra.baviskar@harness.io vinicius.calasans@harness.io ankit.tiwari@harness.io
/pipeline-service/service/src/main/java/io/harness/pms/approval/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io deepak.puthraya@harness.io abhinav.mittal@harness.io sridhar.balijepalli@harness.io rajendra.baviskar@harness.io vinicius.calasans@harness.io ankit.tiwari@harness.io
/pipeline-service/service/src/main/java/io/harness/pms/servicenow/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io deepak.puthraya@harness.io abhinav.mittal@harness.io sridhar.balijepalli@harness.io rajendra.baviskar@harness.io vinicius.calasans@harness.io ankit.tiwari@harness.io
/pipeline-service/service/src/main/java/io/harness/pms/triggers/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io deepak.puthraya@harness.io abhinav.mittal@harness.io sridhar.balijepalli@harness.io rajendra.baviskar@harness.io vinicius.calasans@harness.io ankit.tiwari@harness.io
/pipeline-service/service/src/test/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io deepak.puthraya@harness.io abhinav.mittal@harness.io sridhar.balijepalli@harness.io rajendra.baviskar@harness.io vinicius.calasans@harness.io ankit.tiwari@harness.io
/pipeline-service/pms-sdk-core/ archit.singla@harness.io sahil.hindwani@harness.io sanyasi.naidu@harness.io ankit.tiwari@harness.io prashant.pal@harness.io
/srm-service/ praveen.sugavanam@harness.io abhijith.pradeep@harness.io deepak.chhikara@harness.io varsha.lalwani@harness.io dhruv@harness.io ansuman.satapathy@harness.io sridhar.balijepalli@harness.io sandeep.kumar@harness.io shubhendu.patidar@harness.io naveen.shukla@harness.io
/srm-service/modules/cv-nextgen-service/service/src/test/resources/recaster/alias/alias.txt archit.singla@harness.io sahil.hindwani@harness.io
/tools/build-cleaner/ gaurav.nanda@harness.io

/100-migrator/ deepak.puthraya@harness.io brett@harness.io arvind.choudhary@harness.io pragyesh.mishra@harness.io anil.chowdhury@harness.io rajendra.baviskar@harness.io lucas.sales@harness.io
/dockerization/migrator/ deepak.puthraya@harness.io brett@harness.io arvind.choudhary@harness.io anil.chowdhury@harness.io rajendra.baviskar@harness.io lucas.sales@harness.io
/120-ng-manager/modules/ng-settings/ nishant.saini@harness.io piyush.patel@harness.io manish.manchanda@harness.io
/970-ng-commons/src/main/java/io/harness/ModuleType.java piyush.patel@harness.io manish.manchanda@harness.io shashank.singh@harness.io meenakshi.raikwar@harness.io
/900-git-sync-sdk/src/main/ mohit.garg@harness.io adithya.viswanathan@harness.io archit.singla@harness.io
/952-scm-java-client/src/main/ mohit.garg@harness.io adithya.viswanathan@harness.io archit.singla@harness.io
/953-git-sync-commons/src/main/ mohit.garg@harness.io adithya.viswanathan@harness.io archit.singla@harness.io
/idp-service/ sandeepa.kv@harness.io vikyath.harekal@harness.io sathish.soundarapandian@harness.io

**/contracts/openapi/v1/ mankrit.singh@harness.io ashish.sanodia@harness.io deepak.bolangady@harness.io
/scripts/api mankrit.singh@harness.io ashish.sanodia@harness.io

/953-yaml-commons/src/main/java/io/harness/pms/yaml/YamlUtils.java archit.singla@harness.io sahil.hindwani@harness.io ankit.tiwari@harness.io mohit.garg@harness.io
/970-ng-commons/src/main/java/io/harness/utils/yaml/YamlPipelineUtils.java archit.singla@harness.io sahil.hindwani@harness.io ankit.tiwari@harness.io mohit.garg@harness.io
/953-yaml-commons/src/main/java/io/harness/yaml/utils/JsonPipelineUtils.java archit.singla@harness.io sahil.hindwani@harness.io ankit.tiwari@harness.io mohit.garg@harness.io
/979-recaster/ prashant.pal@harness.io

**/charts/** jonathan.charette@harness.io arya.haldar@harness.io sai.teja@harness.io kapil.garg@harness.io
**/chart/** jonathan.charette@harness.io arya.haldar@harness.io sai.teja@harness.io kapil.garg@harness.io

feat: [SSCA-886]: redis config update
  ssca-manager/chart/Chart.lock
  ssca-manager/chart/Chart.yaml
  ssca-manager/chart/charts/harness-common-1.1.13.tgz
  ssca-manager/chart/charts/harness-common-1.1.9.tgz
  ssca-manager/chart/templates/config.yaml
  ssca-manager/chart/templates/deployment.yaml
  ssca-manager/chart/values.yaml
Owners: jonathan.charette@harness.io, arya.haldar@harness.io, sai.teja@harness.io, kapil.garg@harness.io

feat:[SSCA-869]: poc
  332-ci-manager/chart/templates/config.yaml
Owners: jonathan.charette@harness.io, arya.haldar@harness.io, sai.teja@harness.io, kapil.garg@harness.io

Update naming used for commitment orchestrator permission
  access-control/service/src/main/resources/io/harness/accesscontrol/permissions/permissions.yml
  access-control/service/src/main/resources/io/harness/accesscontrol/roles/managed-roles.yml
  access-control/service/src/main/resources/io/harness/accesscontrol/roles/privileged-roles.yml
Owners: ankit.singhal@harness.io, mallavarapu.reetika@harness.io, manish.manchanda@harness.io, jimit.gandhi@harness.io, ashish.sanodia@harness.io, meenakshi.raikwar@harness.io

Getting started
  pipeline-service/modules/orchestration/src/main/java/io/harness/engine/pms/data/PmsOutcomeService.java
  pipeline-service/modules/orchestration/src/main/java/io/harness/engine/pms/data/PmsOutcomeServiceImpl.java
  pipeline-service/service/src/main/java/io/harness/pms/plan/execution/ExecutionDetailsResource.java
  pipeline-service/service/src/main/java/io/harness/pms/plan/execution/service/ExpressionEvaluatorService.java
  pipeline-service/service/src/main/java/io/harness/pms/plan/execution/service/ExpressionEvaluatorServiceImpl.java
Owners: archit.singla@harness.io, sahil.hindwani@harness.io, sanyasi.naidu@harness.io, ankit.tiwari@harness.io, mohit.garg@harness.io, prashant.pal@harness.io

feat:[SSCA-869]: poc
  332-ci-manager/chart/templates/config.yaml
  332-ci-manager/config/ci-manager-config.yml
Owners: jonathan.charette@harness.io, arya.haldar@harness.io, sai.teja@harness.io, kapil.garg@harness.io, harsh.jain@harness.io, shubham.agrawal@harness.io, hemanth.mantri@harness.io, tianyi.li@harness.io, raghav.gupta@harness.io

IAC-1221: variable repositories should be in their own file paths
  310-iacm-manager/app/src/main/java/io/harness/iacm/plan/creator/stage/IACMStagePMSPlanCreator.java
  332-ci-manager/service/src/main/java/io/harness/iacm/execution/IACMStepsUtils.java
Owners: harsh.jain@harness.io, shubham.agrawal@harness.io, hemanth.mantri@harness.io, tianyi.li@harness.io, raghav.gupta@harness.io

fix: [CI-00]: comments resolved
  product/ci/engine/grpc/server.go
Owners: none

fix: [CI-00]: comments resolved
  product/ci/engine/grpc/logproxy_handler.go
  product/ci/engine/grpc/server.go
Owners: none

feat:[SSCA-869]: poc
  ssca-manager/chart/templates/deployment.yaml
  ssca-manager/chart/templates/service.yaml
Owners: jonathan.charette@harness.io, arya.haldar@harness.io, sai.teja@harness.io, kapil.garg@harness.io

Update resource type to a full name
  access-control/service/src/main/resources/io/harness/accesscontrol/resources/resourceTypes.yml
Owners: ankit.singhal@harness.io, mallavarapu.reetika@harness.io, manish.manchanda@harness.io, jimit.gandhi@harness.io, ashish.sanodia@harness.io, meenakshi.raikwar@harness.io

[fix]: [PL-39107]: Fixing webhook service impl test failures
  platform-service/modules/notification-service/src/main/java/io/harness/notification/service/PagerDutyServiceImpl.java
  platform-service/modules/notification-service/src/test/java/io/harness/notification/service/DefaultWebhookServiceImplTest.java
  platform-service/modules/notification-service/src/test/java/io/harness/notification/service/WebhookServiceImplTest.java
Owners: none

[fix]: [CDS-80771]: Testing complete
  access-control/service/src/main/resources/io/harness/accesscontrol/permissions/permissions.yml
  clients/pipeline-service/pms-client/src/main/java/io/harness/pipeline/remote/PipelineServiceClient.java
  pipeline-service/service/src/main/java/io/harness/pms/ngpipeline/inputset/resources/InputSetResourcePMSImpl.java
Owners: ankit.singhal@harness.io, mallavarapu.reetika@harness.io, manish.manchanda@harness.io, jimit.gandhi@harness.io, ashish.sanodia@harness.io, meenakshi.raikwar@harness.io, archit.singla@harness.io, sahil.hindwani@harness.io, sanyasi.naidu@harness.io, ankit.tiwari@harness.io, mohit.garg@harness.io, prashant.pal@harness.io
